# mac users
.DS_Store
newdrive

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
6546b-comp/compile_commands.json
6546B-comp/build/uddstick.map
6546B-comp/build/uddstick.elf
6546B-comp/build/uddstick.bin
6546B-comp/udd_stick.v5code
